/*logo*/
.LOGO {
    margin: 10px 0px 20px 50px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar {
    0% {
        top: 0px;
    }

    100% {
        top: 30px;
    }
}

section {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

/*Botão*/
.acompanhamento {
    background-color: rgba(71, 4, 97);
    height: 50px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 1px 2px 20px;
    border: rgba(71, 4, 97);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(254, 255, 253);
    transition: .5s;
    font-weight: bolder;
}

.acompanhamento:hover {
    color: rgb(128, 205, 42);
}

.img-button {
    width: 80px;
    height: 80px;
    margin: -15px;
}

.botano{
    display: flex;
    flex-direction: row;
    margin: 50px 0px 0px 60px;
    }

#valorTroco {
    width: 300px;
}

/* Para navegadores modernos que suportam o seletor ::placeholder */
::placeholder {
    color: #ff0303;
    /* Substitua pela cor desejada */
}

/* Para navegadores mais antigos que suportam apenas o seletor ::-webkit-input-placeholder */
:-webkit-input-placeholder {
    color: #ff0303;
    /* Substitua pela cor desejada */
}

/* Para navegadores mais antigos que suportam apenas o seletor ::-moz-placeholder */
:-moz-placeholder {
    color: #ff0303;
    /* Substitua pela cor desejada */
}

/* Para navegadores mais antigos que suportam apenas o seletor :-ms-input-placeholder */
:-ms-input-placeholder {
    color: #ff0303;
    /* Substitua pela cor desejada */
}

h1 {
    margin: 40px 0px 50px 30px;
    color: rgba(71, 4, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}