* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    gap: 10px;
}

.detalhamento {
    max-width: 400px;
    width: 380px;
    display: flex;
    height: 50px;
}